@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Tsantsar fari mai haske */
  --foreground: #0f172a; /* Duhan rubutu domin karatu ya fito fili */
}

/* Tabbatar da cewa ko da komfutar mutum tana Dark Mode, shafin zai kasance Light Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
}